<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        {% endblock %}

        <title>VocPopuli</title>
        {% endblock %}
    </head>
    <body>
        {% block banner %}
        <div class="banner shadow"> 
            <text class="banner-text">VocPopuli is in <span class="banner-badge">Alpha</span> testing phase. Learn more or reach out to us via <a class="banner-link" href="https://gitlab.com/metacook/vocpopuli" target="_blank">GitLab</a>. </text>
            <i class="bi bi-x close banner-x"></i>
        </div>
        {% endblock %}
        <!-- The Navbar -->
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
            <div class="container-fluid">
                {% if session.get('PROJECT_SET', False) %}
                <a class="navbar-brand" href='/' style="color: #000000;">
                    <img src={{ url_for("static", filename="VocPopuli_navbar.png") }} alt="" height="30" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link" href={{ url_for("main.list_terms") }} title="List terms">List terms</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link disabled" style="color: rgb(180, 180, 180) !important" title="Import/Create vocabulary">Import/Create vocabulary</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">Export</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href={{ url_for("main.kadi_export") }} title="Export Kadi4Mat Template">Kadi4Mat Template</a></li>
                              <li><a class="dropdown-item" href={{ url_for("main.publish_vocabulary") }} title="Publish vocabulary">Publish Vocabulary (SKOS)</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href={{ url_for("main.request_vocabulary") }} title="Request vocabulary">Request vocabulary</a>
                        </li>
                    </ul>
                </div>
                <div style="padding-right: 5px; float: right; color: #ffff; font-size: 10px;">
                    <table>
                        <tr>
                            <th>
                                    Last repository activity: 
                            </th>
                        </tr>
                        <tr>
                            <th>
                                {% if session.get('LAST_ACTIVITY') %}
                                    {{ session['LAST_ACTIVITY'][:10] }} at {{ session['LAST_ACTIVITY'][11:16] }}
                                {% endif %}
                            </th>
                        </tr>
                    </table>
                </div>
                <form class="d-flex" action={{ url_for("main.choose_project") }} method="post">
                    <select class="form-select" name="vocab_select" aria-label="Vocabulary select">
                        <option selected>{{ session.get('PROJECT_NAME', "Choose a vocabulary project:") }}</option>
                        {% for project_name in session.get('PROJECTS_DICT', {}).keys() %}
                            {% if project_name != session['PROJECT_NAME'] %}
                                <option>{{ project_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-light" style="margin-left:5px" type="submit">Select</button>
                </form>
                {% else %}
                <a class="navbar-brand" href='/' style="color: #000000;">
                    <img src={{ url_for("static", filename="VocPopuli_navbar.png") }} alt="" height="30" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav" >
                        <li class="nav-item">
                            <a class="nav-link disabled" href={{ url_for("main.list_terms") }} title="List terms">List terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href={{ url_for("main.import_vocabulary") }} title="Import/Create vocabulary">Import/Create vocabulary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href={{ url_for("main.kadi_export") }} title="Export">Export</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ url_for("main.request_vocabulary") }} title="Request vocabulary">Request Vocabulary</a>
                        </li>
                    </ul>
                </div>

                {% endif %}
            </div>
          </nav>
        {% endblock %}
        {% block popup %}
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <div class="modal-header">
                    <text>Login Timeout</text>
                    <i class="bi bi-x close"></i>
                  </div>
                  <div class="modal-body">
                    <p>Current login session is invalid.</p>
                    <p>Please click on the button to login again. <strong>All unsaved input will otherwise be lost.</strong></p>
                    <a class="btn btn-colour" href={{url_for("gitlab.login")}} target="_blank">Login with Gitlab</a>
                  </div>
                </div>       
            </div>
        {% endblock %}
        <!-- Your page content -->
        {% block page_content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="{{ url_for('static',filename='script.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>