{% extends "sidebar.html" %}
{% block content %}

<form id="termForm" class="border rounded {% block class_name %}{% endblock %}" enctype="multipart/form-data" action={% block action %}{% endblock %} method="POST">
    {{ form.csrf_token }}
    <div class="d-flex align-items-center page-title">
        <div><h2 class="title">{% block page_titel %}{% endblock %}</h2></div>
        <div class="ms-auto submit">{{ form.submit(class_='btn btn-colour') }}</div>
    </div>
    <hr class="solid">

    <div class="row gy-5">
    <div class="col-md-6"> 
        <label class="form-label input-required">{{ form.label.label }}</label>
        {{ form.label(class_='form-control') }}
    </div>
    <div class="col-md-6"> 
        <label class="form-label">{{ form.datatype.label }}</label>
        <i class="bi bi-info-circle" type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-container="body" data-bs-html="true" 
        data-bs-title="
        <b>String:</b> A single text value.</br> 
        <b>Integer:</b> A single integer value. Integer values can optionally have a unit further describing them.</br>
        <b>Float:</b> A single floating point value. Float values can optionally have a unit further describing them.</br>
        <b>Boolean:</b> A single boolean value which can either be <i>true</i> or <i>false</i>.</br>
        <b>Date:</b> A date and time value which can be selected from a date picker.</br>
        <b>Dictionary:</b> A nested value which can be used to combine multiple metadata entries under a single key.</br>
        <b>List:</b> A nested value which is similar to dictionaries with the difference that none of the values in a list have a key.">
        </i>
        {{ form.datatype(class_='form-select', id_='datstype') }}
        <div class="form-text">{{ form.datatype.description }}</div>
    </div>
    <div class="col-md-12"> 
        <label class="form-label input-required" id="contexttype_lbl">{{ form.contextual_type.label }}</label>
        <select class="form-select" id="contexttype" name="contextual_type" required>
            {% for option in form.contextual_type %}
                {% if loop.first %}
                    <option value="" disabled selected>-- select an option --</option>
                {% endif %}
                {{ option }}
            {% endfor %}
        </select>
        <div class="form-text">{{ form.contextual_type.description }}</div>
    </div>
   
        <div class="col-12">
            <label class="form-label input-required">{{ form.definition.label }}</label>
            {{ form.definition(class_='form-control') }}
        </div>
        <div class="col-12">
            <label class="form-label">{{ form.synonym.label }}</label>
            {{ form.synonym(class_='form-control') }}
            <div class="form-text">{{ form.s_descr }}</div>
        </div>
        <div class="col-8">
            <label class="form-label">{{ form.broader.label }}</label>
            <input class="form-control form-filter" placeholder="Type to search...">
            {{ form.broader(class_='form-control select-checkbox options', id_="broader") }}
            <label class="form-label">Selected terms:</label>
            <h6 class="selected-options selected-broaders"></h6>
        </div>
        <div class="col-4">
            <label class="form-label">{{ form.related.label }}</label>
            <input class="form-control form-filter" placeholder="Type to search...">
            {{ form.related(class_='form-control select-checkbox options') }}
            <label class="form-label">Selected terms:</label>
            <h6 class="selected-options"></h6>
        </div>
        <div class="col-12">
            <label class="form-label">{{ form.related_external.label }}</label>
            {{ form.related_external(class_='form-control') }}
            <div class="form-text">{{ form.r_e_descr }}</div>
        </div>
        <div class="col-12">
            <label class="form-label" for="images">Image upload (optional)</label>
            <input class="form-control" id="images" multiple="" name="images" type="file">
            {% if self._TemplateReference__context.name == 'edit_term.html' %}
                <input class="form-check-input" id="keep_prev_imgs" name="keep_prev_imgs" type="checkbox" checked>
                <label class="form-check-label" for="keep_prev_imgs">Keep the previous version's images</label>
            {% endif %}
        </div>
        <div class="d-flex align-items-center">
            <div class="ms-auto submit">{{ form.submit(class_='btn btn-colour') }}</div>
        </div>
        
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var needToConfirm = false;
    $(document).ready(function() {
        needToConfirm = false; 
        window.onbeforeunload = askConfirm;
    });
    
    function askConfirm() {
        if (needToConfirm) {
            // Put your custom message here 
            return "Your unsaved data will be lost."; 
        }
    }

    $("select,input,textarea").change(function() {
        needToConfirm = true;
    });
    $("#termForm").submit(function() {
        needToConfirm = false;
      });
    
</script>
{% endblock %}
