{% extends "base.html" %}
{% block page_content %}
<div class="container" id="list">
  <div class="d-flex align-items-center page-title">
    <div style="margin-right:10px"><text class="title">{{project_name}}</text></div>
    <a class="btn btn-primary btn-sm" style="font-size:16px" href={{ url_for("main.new_term") }} data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Add a new term.">New term<i class="bi bi-plus-square" style="margin-left:5px"></i></a>
    <form class="d-flex" style="margin-left: 10px;">
      <input class="form-control me-2 list-filter" placeholder="Search term names" aria-label="Search">
    </form>
    <div id="reloadAction" style="visibility: hidden; margin-left: auto;">
      <form method="post" action={{ url_for("main.list_terms") }}>
        New updates to the vocabulary!
        <button class="btn btn-primary btn-sm" type="submit">Reload page</button>
      </form>
    </div>
    <div>
      <form method="post" action={{ url_for("main.download_json") }}>
        <button class="btn list-btn" type="submit">Download <i class="bi bi-download"></i></button>
      </form>
    </div>
    <div>
      <form action={{ url_for("main.vocabulary_tree") }}>
        <button class="btn list-btn" type="submit">Vocabulary Graph <i class="bi bi-diagram-3"></i></button>
      </form>
    </div>
  </div>

  <ul id="tree2" class="tree-list tree">
    {% set oldPath = [] %}
    {% set term_id = [] %}
    {% set contextual_types = [] %}
    {% for item in tree_dict['children']%}
    {% set _ = contextual_types.append(item['contextual_type']) %}
    {% endfor %}
    {% set contextual_types = contextual_types|unique%}
    {% set contextual_type_list = ['process', 'object', 'data']%}
    {% for type in contextual_type_list %}
      {% if type not in contextual_types %}
        
      {% endif %}
    {% endfor %}
    {% for key in contextual_type_list %}
      {% if key == 'process' %}
        <span class="badge bg-primary rounded-top" style="font-size: ; vertical-align: middle;">{{ key }}</span>
        {% elif key == 'object' %}
        <span class="badge bg-info rounded-top" style="font-size: ; vertical-align: middle;">{{ key }}</span>
        {% elif key == 'data' %}
        <span class="badge bg-warning rounded-top" style="font-size: ; vertical-align: middle;">{{ key }}</span>
      {% endif %}
      {% for item in tree_dict['children'] recursive %}
        {% if (item['datatype'] != 'individual' and item['datatype'] != 'option') and (item['datatype'] != 'record' or item['contextual_type'] == key)  %}
          <li>
            <div>
              {% if item['children'] %}
                <!-- target collapsible child term list has id="collapse" + issue_iid, to make each separately collapsible -->
                {% set _ = term_id.append(1) %}
                <a class="btn item-collapsed collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target={{"#collapse" ~ term_id|length }} aria-expanded="false">
                  <i style="font-size: 15px" class='indicator bi bi-chevron-right collapsed'></i>
                  <i style="font-size: 15px" class='indicator bi bi-chevron-down expanded'></i>
                </a>
                {% else %}
                <a class="btn collapse-btn" type="button">
                  <i style="font-size: 15px; opacity: 0;" class='indicator bi bi-chevron-down expanded'></i>
                </a>           
              {% endif %}
              <div class="hover-bkg">
                {% if item['datatype'] %}
                  <i style="-webkit-text-stroke: 1px; color: {{dtype_color_map[item['datatype']]}}; padding-left:8px" class="bi {{dtype_icon_map[item['datatype']]}}" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true" 
                  data-bs-title="type: {{ item['datatype'] }}"></i>
                {% else %}
                  <i style="-webkit-text-stroke: 1px; color: #808080; padding-left:8px"class="bi bi-dash-circle-dotted" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true" 
                  data-bs-title="type: none"></i>
                {% endif %}
                <a id="term-name" style="flex-shrink: 0;" href={{ url_for("main.view_term", issue_iid=item['issue_iid'], path=oldPath|join("-") ~ '-' ~ item['name']) }}>{{ item['name'] }}</a>

                <a class="hide" href={{ url_for("main.child_term", issue_iid=item['issue_iid'], path=oldPath|join("-") ~ '-' ~ item['name']) }}>
                  <i style="font-size: 20px; padding-left: 8px;" class="bi bi-plus-square-dotted" type="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="new child term"></i>
                </a>
                {% if not session.get('visited_{}_{}'.format(item['issue_iid'], session["PROJECT_NAME"]), False) %}
                  <i style="font-size: 20px; margin: 5px; margin-left:auto;" class="bi bi-envelope-fill" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="unread"></i>
                {% else %}
                  <div class="badge" style="margin: 5px; margin-left:auto; display:inline-block;"></div>
                {% endif %}

                {% if item['approved'] %}
                  <i style="font-size: 20px; margin: 5px; min-width: 25px;" class="bi bi-check2-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="approved"></i>
                {% else %}
                  <i style="font-size: 20px; margin: 5px; min-width: 25px;" class="bi bi-x-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="not approved"></i>
                {% endif %}
              </div> 
            </div>
            
            {% set vars = {'last': False} %}
            {% if item['children'] %}
              {% for child in item['children'] %}
                {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                  {% if vars.update({'last': True}) %}{% endif %}
                {% endif %}
              {% endfor %}

              {% if vars.last %}
                <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ term_id|length}}>
                  {% set _ = oldPath.append(item['name']) %}
                  <li class="individual">
                    <div style="display: inline-block;">
                      {% for child in item['children'] %}
                        {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                          {% if child['approved'] %}
                            <span class="individual-term" style="display:none;">
                              <a id="term-name" href={{ url_for("main.view_term", issue_iid=child['issue_iid'], path=oldPath|join("-") ~ '-' ~ child['name']) }}
                              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true"
                              data-bs-title="type: {{ child['datatype'] }}</br>status: approved">{{ child['name'] }}</a>{% if not loop.last %},&nbsp{% endif %}
                            </span>
                          {% else %}
                            <span class="individual-term" style="display:none;">
                              <a id="term-name" href={{ url_for("main.view_term", issue_iid=child['issue_iid'], path=oldPath|join("-") ~ '-' ~ child['name']) }}
                              data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-container="body" data-bs-html="true"
                              data-bs-title="type: {{ child['datatype'] }}</br>status: not approved">{{ child['name'] }}</a>{% if not loop.last %},&nbsp{% endif %}
                            </span>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                      {% if item['children']|length >= 6 %}
                        <span class="show">...show more</span>
                      {% endif %}
                    </div>
                  </li>
                  {% set _ = oldPath.pop(oldPath|length - 1) %}
                </ul>
              {% endif %}

              <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ term_id|length}}>
                {% set _ = oldPath.append(item['name']) %}
                {{ loop(item['children']) }}
                {% set _ = oldPath.pop(oldPath|length - 1) %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
      <p></p>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  const tree_dict_task_status_url = {{ url_for("main.tree_dict_status")|tojson }};
  var reloadButton = document.getElementById('reloadAction')
  var intervalFun = window.setInterval( function(){
    fetch(tree_dict_task_status_url)
    .then(response => response.json())
    .then(data => {
      if (data["done"] === true) {
        reloadButton.style.display = 'block';
        reloadButton.style.visibility = 'visible';
        clearInterval(intervalFun)
      }
      if (data["done"] === 'halt') {
        clearInterval(intervalFun)
      }
  })
  }, 1000)
</script>
{% endblock %}