{% import "bootstrap5/form.html" as wtf%}
{% extends "base.html"%}
{% block page_content %}
<div class="export_container" id="export_container">
        <h1>Success!</h1>
        <p>The vocabulary has been {{action}} and is now located at <a href={{vocab_url}} target="_blank" rel="noopener noreferrer">{{vocab_url}}</a></p>
</div>
{% endblock %}
