{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf%}
{% block page_content %}
<div class="page-content">
    <div id="view_term">

    <div class="outline view-term" style="position: absolute;">
        <div class="d-flex align-items-center no-padding">
            <div class="me-auto p-2">
                <h2 class="term-title">
                    {{ data['title'].split('] ')[1] }}
                    {% if data['definition']['contextual type'] == 'process' %}
                    <span class="badge bg-primary" style="font-size: .35em; vertical-align: middle;">{{ data['definition']['contextual type'] }}</span>
                    {% elif data['definition']['contextual type'] == 'object' %}
                    <span class="badge bg-info" style="font-size: .35em; vertical-align: middle;">{{ data['definition']['contextual type'] }}</span>
                    {% elif data['definition']['contextual type'] == 'data' %}
                    <span class="badge bg-warning" style="font-size: .35em; vertical-align: middle;">{{ data['definition']['contextual type'] }}</span>
                    {% endif %}
                </h2>
            </div>

            {% do data['definition'].pop('contextual type') %}
            <div class="p-2 btn-group view-term-item ">
                <a class="btn btn-secondary ms-auto p-2" href={{data['definition'].get('gitlab_raw_url')}} target="_blank" rel="noopener noreferrer" role="button">
                    Download SKOS Serialization
                </a>
            </div>
            <div class="p-2 btn-group view-term-item ">
                <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                View IDs/PID
                </button>
                <div class="dropdown-menu p-4">
                    {% if data['definition'].get('purl', False) %}
                    <div class="mb-3">
                        <h6>Copy PURL (PID): </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('purl')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-global2" onclick="copy('{{data['definition'].get('purl')}}', '#copy-button-global2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                {% endif %}
                    <div class="mb-3">
                        <h6>Copy Global Term ID: </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_global')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-global2" onclick="copy('{{data['definition'].get('id_t_global')}}', '#copy-button-global2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                    <div class="mb-3"><hr class="dropdown-divider"></div>
                    <div class="mb-3">
                        <h6>Copy Local Term ID: </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_local')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-local2" onclick="copy('{{data['definition'].get('id_t_local')}}', '#copy-button-local2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                    <div class="mb-3"><hr class="dropdown-divider"></div>
                    <div class="mb-3">
                        <h6>Copy Term Version ID: </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_version')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-version2" onclick="copy('{{data['definition'].get('id_t_version')}}', '#copy-button-version2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table definition-table outline">
            {% for key,value in data['definition'].items() %}
                {% if key not in ['id_t_global', 'id_t_local', 'id_t_version', 'Image files', 'purl', 'gitlab_raw_url'] %}
                    <tr>
                        <th class = "definition-title">
                            <!---Gray out empty value title-->
                            <text class="
                            {% if value|length == 0 or value[0] == ''  or value[0] == ' '%}
                            grayed-out
                            {% endif %}
                            ">{{ key|capitalize }}</text>
                        </th>
                        <th class = "definition-content">
                            {% if value is not string %}
                                {% for item in value %}
                                    {% if loop.last %}
                                    <a class="link">{{ item | safe }}</a>
                                    {% else %}
                                    <a class="link">{{ item | safe }}</a>, 
                                    {% endif %}
                                {% endfor %}
                            {% elif key == "data type" and value == " " %}
                                <i style="-webkit-text-stroke: 1px; color: {{dtype_color_map['none']}}; padding-right:2px" class="bi {{dtype_icon_map['none']}}"></i>
                                none
                            {% else %}
                                {% if key == "data type" %}
                                <i style="-webkit-text-stroke: 1px; color: {{dtype_color_map[value]}}; padding-right:2px" class="bi {{dtype_icon_map[value]}}"></i>
                                {{ value | safe }}
                                {% else %}
                                {{ value | safe }}
                                {% endif %}
                            {% endif %}
                        </th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <hr class="dashed">
        <div class="container">
            <h5 style="color: white; background-color: lightgray; margin-bottom: 1%; text-align: center; margin-top: 0.1%;">Images</h5>
            <div class="row text-center text-lg-start">
                {% for value in data['definition']['Image files'] %}
                    {% if value is not none%}
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href=#>
                            <img src="data:image/{{ value[2] }};base64,{{ value[1] }}" class="img-fluid img-thumbnail" data-bs-toggle="modal" data-bs-target="#imgModal"/>
                        </a>
                    </div>
                        
                    {% endif %}
                {% endfor %}
                <div class="modal" id="imgModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for value in data['definition']['Image files'] %}
                                                {% if value is not none%}
                                                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                                        <img class="img" src="data:image/{{ value[2] }};base64,{{ value[1] }}" class="d-block w-100"/>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var carousel = document.querySelector('#imageCarousel')
    var modalElement = document.getElementById('imgModal')
    
    modalElement.addEventListener('show.bs.modal', function (event) {
        const trigger = event.relatedTarget
        var bsCarousel = bootstrap.Carousel.getInstance(carousel)
        bsCarousel.to(trigger.dataset.bsSlideTo)
    })

    document.title = "{{ data['title'].split('] ')[1] }}";

    function copy(text, target) {
        setTimeout(function() {
            $('#copied_tip').remove();
            }, 800);
        $(target).append("<div class='tip' id='copied_tip'>Copied!</div>");
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
        // Select the text field
        input.select();
        input.setSelectionRange(0, 99999); // For mobile devices
        // Copy the text inside the text field
        navigator.clipboard.writeText(input.value);
        document.body.removeChild(input)
        }
</script>
{% endblock %}
