{% import "bootstrap5/form.html" as wtf%}
{% extends "base.html"%}
{% block page_content %}
<div class="logo">
    <div class="container text-center">
        <img src={{ url_for("static", filename="VocPopuli_Square.png") }} class="img-fluid" width="200" height="200">
        <div>
            <p>Until 15 December 2022, new vocabularies can only be initiated manually. Please get in touch with <a href = "mailto: nikolay.garabedian@kit.edu">nikolay.garabedian@kit.edu</a> to receive one.</p>
            <p>In order to avoid a spam filer, please answer the following:</p>
            <ul>
                <li>Name:</li>
                <li>Research field/s:</li>
                <li>Institution:</li>
                <li>Are you part of a data-related project, and which one/s:</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}