{% extends "base.html" %}
{% block page_content %}
<!--sidebar-->
<div class="sidebar">
  <div class="dragholder"></div>
  <ul id="tree1" class="tree-list tree">
    {% set oldPath = [] %}
    {% set term_id = [] %}
    {% set contextual_types = [] %}
    {% for item in tree_dict['children']%}
    {% set _ = contextual_types.append(item['contextual_type']) %}
    {% endfor %}
    {% set contextual_types = contextual_types|unique%}
    {% set contextual_type_list = ['process', 'object', 'data']%}
    {% for type in contextual_type_list %}
      {% if type not in contextual_types %}

      {% endif %}
    {% endfor %}
    {% for key in contextual_type_list %}
      {% if key == 'process' %}
        <span class="badge bg-primary rounded-top" style="font-size: ; vertical-align: middle;">{{ key }}</span>
        <hr class="no-padding">
      {% elif key == 'object' %}
        <span class="badge bg-info rounded-top" style="font-size: ; vertical-align: middle; margin-top: 20px;">{{ key }}</span>
        <hr class="no-padding">
      {% elif key == 'data' %}
        <span class="badge bg-warning rounded-top" style="font-size: ; vertical-align: middle; margin-top: 20px;">{{ key }}</span>
        <hr class="no-padding">
      {% else %}
        <hr class="no-padding" style="margin-top: 20px">
      {% endif %}
      {% for item in tree_dict['children'] recursive %}
        {% if (item['datatype'] != 'individual' and item['datatype'] != 'option') and (item['datatype'] != 'record' or item['contextual_type'] == key) %}
          <li class="{{item['name']|replace(" ", "-")}}">
            <div class="{{term_id|length}}">
              {% if item['children'] %}
              <!-- target collapsible child term list has id="collapse" + issue_iid, to make each separately collapsible -->
              {% set _ = term_id.append(1) %}
              <a class="btn-sm item-collapsed" type="button" data-bs-toggle="collapse" data-bs-target={{"#collapse" ~ term_id|length }} aria-expanded="false">
                <i class='bi bi-chevron-right collapsed'></i>
                <i class='bi bi-chevron-down expanded'></i>
              </a>
              {% else %}
              <a class="btn-sm" type="button">
                <i class="bi bi-plus-square-dotted" style ="opacity: 0;"></i>
              </a>            
              {% endif %}
              <a id="term-name" href={{ url_for("main.view_term", issue_iid=item['issue_iid'], path=oldPath|join("-") ~ '-'~ item['name']) }}>{{ item['name'] }}</a>
            </div>

            {% set var = {'last': False} %}
            {% if item['children'] %}
            {% for child in item['children'] %}
              {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                {% if var.update({'last': True}) %}{% endif %}
              {% endif %}
            {% endfor %}
            {% if var.last == True %}
            <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ term_id|length}}>
              {% set _ = oldPath.append(item['name']) %}
              <li class="individual">
                <div class="individual-terms">
                {% for child in item['children'] %}
                {% if child['datatype'] == 'individual' or child['datatype'] == 'option' %}
                  <span class="individual-term" style="display:none;">
                    <a id="term-name" href={{ url_for("main.view_term", issue_iid=child['issue_iid'], path=oldPath|join("-") ~ '-' ~ child['name']) }}>{{ child['name'] }}</a>{% if not loop.last %},&nbsp{% endif %}
                  </span>
                {% endif %}
                {% endfor %}
                {% if item['children']|length >= 6 %}
                  <span class="show">...show more</span>
                {% endif %}
                </div>
              </li>
              {% set _ = oldPath.pop(oldPath|length - 1) %}
            </ul>
            {% endif %}

            <ul class="list-group list-group-flush bg-transparent collapse" id={{ "collapse" ~ term_id|length}}>
              {% set _ = oldPath.append(item['name']) %}
              {{ loop(item['children']) }}
              {% set _ = oldPath.pop(oldPath|length - 1) %}
            </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
<div class="page-content">
  {% block content %}{% endblock %}
</div>
{% endblock %}