{% extends "sidebar.html" %}
{% import "bootstrap5/form.html" as wtf%}

{% block content %}
<!---Term definition-->
<div id="view_term">
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={{ url_for("main.list_terms") }}>List terms</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ data['title'].split('] ')[1] }} 
            <span class="badge bg-secondary" style="font-size: 10px; vertical-align: middle;">{{ data['title'].split('] ')[0] }}]</span></li>
    </ol>
</nav>
<div class="outline view-term">
    <div class="d-flex align-items-center no-padding" style="flex-wrap: wrap;">
        <div class="p-2 flex-grow-1">
            <h2 class="term-title">
                {{ data['title'].split('] ')[1] }}
                <div style="display: inline-block;">
                {% if data['definition']['contextual type'] == 'process' %}
                    <span class="badge bg-primary" style="font-size: .35em; vertical-align: middle;">{{ data['definition']['contextual type'] }}</span>
                {% elif data['definition']['contextual type'] == 'object' %}
                    <span class="badge bg-info" style="font-size: .35em; vertical-align: middle;">{{ data['definition']['contextual type'] }}</span>
                {% elif data['definition']['contextual type'] == 'data' %}
                    <span class="badge bg-warning" style="font-size: .35em; vertical-align: middle;">{{ data['definition']['contextual type'] }}</span>
                {% endif %}
                {% if data['status'] == 'approved' %}
                    <span class="badge bg-success" style="font-size: .35em; vertical-align: middle;">approved</span>
                {% elif data['status'] == 'not approved' %}
                    <span class="badge bg-danger" style="font-size: .35em; vertical-align: middle;">not approved</span>
                {% elif data['status'] == 'deprecated' %}
                    <span class="badge bg-secondary" style="font-size: .35em; vertical-align: middle;">deprecated</span>
                {% endif %}
                </div>
            </h2>
        </div>

        {% do data['definition'].pop('contextual type') %}
        <div class="p-2 view-buttons">
        {% if data['status'] == 'approved' or data['status'] == 'not approved' %}
        
            <a class="btn btn-colour edit-button" href={{ url_for("main.edit_term", issue_iid=data['iid'], path="-") }} role="button">
                Edit Term
            </a>
        {% endif %}
        <div class="btn-group view-term-item">
            <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Version
            </button>
            <ul class="dropdown-menu">
                {% for issue in all_term_issues %}
                <li><a class="dropdown-item term-version-item" href={{ url_for('main.view_term', issue_iid=issue[0], path="") }}>{{ issue[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group view-term-item">
            <button class="btn btn-secondary dropdown-toggle dropdown-button" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              ID
            </button>
            <div class="dropdown-menu p-4">
                {% if data['definition'].get('purl', False) %}
                    <div class="mb-3">
                        <h6>Copy PURL (PID): </h6>
                        <div class="input-group input-group-sm mb-3">
                            <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('purl')}}</span>
                            <button class="btn btn-outline-secondary" type="button" id="copy-button-global2" onclick="copy('{{data['definition'].get('purl')}}', '#copy-button-global2')"><i class="bi bi-clipboard"></i></button>
                        </div>
                    </div>
                {% endif %}
                <div class="mb-3">
                    <h6>Copy Global Term ID: </h6>
                    <div class="input-group input-group-sm mb-3">
                        <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_global')}}</span>
                        <button class="btn btn-outline-secondary" type="button" id="copy-button-global2" onclick="copy('{{data['definition'].get('id_t_global')}}', '#copy-button-global2')"><i class="bi bi-clipboard"></i></button>
                    </div>
                </div>
                <div class="mb-3"><hr class="dropdown-divider"></div>
                <div class="mb-3">
                    <h6>Copy Local Term ID: </h6>
                    <div class="input-group input-group-sm mb-3">
                        <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_local')}}</span>
                        <button class="btn btn-outline-secondary" type="button" id="copy-button-local2" onclick="copy('{{data['definition'].get('id_t_local')}}', '#copy-button-local2')"><i class="bi bi-clipboard"></i></button>
                    </div>
                </div>
                <div class="mb-3"><hr class="dropdown-divider"></div>
                <div class="mb-3">
                    <h6>Copy Term Version ID: </h6>
                    <div class="input-group input-group-sm mb-3">
                        <span type="text" class="form-control" aria-describedby="button-addon2">{{data['definition'].get('id_t_version')}}</span>
                        <button class="btn btn-outline-secondary" type="button" id="copy-button-version2" onclick="copy('{{data['definition'].get('id_t_version')}}', '#copy-button-version2')"><i class="bi bi-clipboard"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> 
    <table class="table definition-table outline">
        {% for key,value in data['definition'].items() %}
            {% if key not in ['id_t_global', 'id_t_local', 'id_t_version', 'Image files', 'purl', 'gitlab_raw_url'] %}
                <tr>
                    <th scope="col" class="definition-title">
                        <!---Gray out empty value title-->
                        <text class="
                        {% if value|length == 0 or value[0] == ''  or value[0] == ' '%}
                        grayed-out
                        {% endif %}
                        ">{{ key|capitalize }}</text>
                    </th>
                    <th scope="col" class="definition-content" style="word-wrap: break-word;">
                        {% if value is not string %}
                            {% for item in value %}
                                <a 
                                {% if key == "related" or key == "part of"%}
                                    class="link"
                                {% endif %}
                                {% if key == "related (external)" %}
                                    href="{{ item | safe }}" target="_blank"
                                {% endif %}
                                >{{ item | safe}}</a
                                    >{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% elif key == "data type" and value == " " %}
                            <i style="-webkit-text-stroke: 1px; color: {{dtype_color_map['none']}}; padding-right:2px" class="bi {{dtype_icon_map['none']}}"></i>
                            none
                        {% else %}
                            {% if key == "data type" %}
                            <i style="-webkit-text-stroke: 1px; color: {{dtype_color_map[value]}}; padding-right:2px" class="bi {{dtype_icon_map[value]}}"></i>
                            {{ value | safe }}
                            {% else %}
                            {{ value | safe }}
                            {% endif %}
                        {% endif %}
                    </th>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% if data['definition']['Image files']|length %}
    <hr class="dashed">
    <div class="container">
        <h5 style="color: white; background-color: lightgray; margin-bottom: 1%; text-align: center; margin-top: 0.1%;">Images</h5>
        <div class="row text-center text-lg-start">
            {% for value in data['definition']['Image files'] %}
                {% if value is not none%}
                <div class="col-lg-3 col-md-4 col-6">
                    <a href=#>
                        <img src="data:image/{{ value[2] }};base64,{{ value[1] }}" class="img-fluid img-thumbnail" data-bs-toggle="modal" data-bs-target="#imgModal"/>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
            <div class="modal" id="imgModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for value in data['definition']['Image files'] %}
                                            {% if value is not none%}
                                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                                    <img class="img" src="data:image/{{ value[2] }};base64,{{ value[1] }}" class="d-block w-100"/>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
    {% endif %}
    <hr class="dashed">
    <div class="d-flex align-items-center no-padding">
    <!---Upvote/Downvote buttons-->
        {% if awards['thumbsup']['has_voted'] == True %}
            <a class="btn upvoted outline p-2" href="?vote_intent=thumbsup_off" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="upvoted">
                <i class="bi bi-hand-thumbs-up-fill p-2"></i>
                {{ awards['thumbsup']['count'] }}
            </a>
        {% else %}
            {% if awards['thumbsdown']['has_voted'] == True %}
                <a class="btn upvote outline p-2" href="?vote_intent=thumbsup_switch" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="click to upvote">
            {% else %}
                <a class="btn upvote outline p-2" href="?vote_intent=thumbsup_on" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="click to upvote">
            {% endif %}
            <i class="bi bi-hand-thumbs-up p-2"></i>
                {{ awards['thumbsup']['count'] }}
            </a>
        {% endif %}

        {% if awards['thumbsdown']['has_voted'] == True %}
            <a class="btn downvoted outline p-2" href="?vote_intent=thumbsdown_off" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="downvoted">
                <i class="bi bi-hand-thumbs-down-fill p-2"></i>
                {{ awards['thumbsdown']['count'] }}
            </a>
        {% else %}
            {% if awards['thumbsup']['has_voted'] == True %}
                <a class="btn downvote outline p-2" href="?vote_intent=thumbsdown_switch" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="click to downvote">
            {% else %}
                <a class="btn downvote outline p-2" href="?vote_intent=thumbsdown_on" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="click to downvote">
            {% endif %}
                <i class="bi bi-hand-thumbs-down p-2"></i>
                {{ awards['thumbsdown']['count'] }}
            </a>
        {% endif %}
        {% if data['definition'].get('gitlab_raw_url', False) %}
        <a class="btn btn-outline-secondary ms-auto p-2" href={{data['definition'].get('gitlab_raw_url')}} target="_blank" rel="noopener noreferrer" role="button">
            Download SKOS
        </a>
        {% endif %}
        {% if data['status'] == 'not approved' %}
            <a class="btn btn-danger ms-auto p-2" href={{ url_for("main.approve_term", issue_iid=data['iid']) }} role="button">
                Approve Term
            </a>
        {% endif %}
    </div>
    <p>
</div>

<hr class="dashed">

<!---Comments-->
<h5 class="discussion-title">Discussion Board</h5>
{% for comment in data["comments"]|reverse %}
<div class="vl"></div>
<div class="outline discussion-board">
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <a href={{ comment["author"]["web_url"] }}>
                <img src={{ comment["author"]["avatar_url"] }} class="rounded-circle">
            </a>
        </div>
        <div class="flex-grow-1 ms-3">
            <h5>
                <a href={{ comment["author"]["web_url"] }} class="username">
                    {{ comment["author"]["name"] | safe }} @{{ comment["author"]["username"] | safe }}
                </a>
                <small class="text-muted" style="display:flex; flex-direction: column; justifyContent: start;">
                    <i>• updated on {{ comment["updated_at"][:10] }} at {{ comment["updated_at"][11:16] }}</i>
                    <i style="float:left">• {{comment["issue_name"]}}</i>
                </small>
            </h5>
            <p>{{ comment["body"] | safe }}</p class = "comment">
        </div>
    </div>
</div>
{% endfor %}
</div>
<div class="comments_form">
    {{ wtf.render_form(comments_form) }}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    var carousel = document.querySelector('#imageCarousel')
    var modalElement = document.getElementById('imgModal')
    
    modalElement.addEventListener('show.bs.modal', function (event) {
        const trigger = event.relatedTarget
        var bsCarousel = bootstrap.Carousel.getInstance(carousel)
        bsCarousel.to(trigger.dataset.bsSlideTo)
    })

    document.title = "{{ data['title'].split('] ')[1] }}";

    function copy(text, target) {
        setTimeout(function() {
            $('#copied_tip').remove();
            }, 800);
        $(target).append("<div class='tip' id='copied_tip'>Copied!</div>");
        var input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
        // Select the text field
        input.select();
        input.setSelectionRange(0, 99999); // For mobile devices
        // Copy the text inside the text field
        navigator.clipboard.writeText(input.value);
        document.body.removeChild(input)
        }
</script>
{% endblock %}
