{% extends "base.html" %}
{% block page_content %}
<div class="vocab-flex" style="min-height: 100%;">
	<div class="vocabulary-tree" style="flex: 2;">
	</div>
	<div class="legend" style="flex: 1;">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
		<a class="btn zoom" onclick="zoomIn()"><i class="fas fa-search-plus"></i></a>
		<a class="btn zoom-out" onclick="zoomOut()"><i class="fas fa-search-minus"></i></a>
		<a class="btn zoom-init" onclick="resetZoom()"><i class="fas fa-recycle"></i></a>
		<ul class="legend">
			{% for key,value in dtype_icon.items() %}
			<li style="width: 90px"><i class={{value}}> {{key}} </i></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	const treeData =  {{ tree_json | safe }};
	const type_map = {{ dtype_icon | safe }};
	
	const dx = 70;
	const dy = 300;
	var width = 0;
	var	height = 0;
	var	scaled_w = 0;
	var	scaled_h = 0;
	// x coordinate of root node
	var root_x = 0;
	const margin = ({top: 100, right: 120, bottom: 100, left: 40});

	diagonal = d3.linkHorizontal().x(d => d.y).y(d => d.x);

	tree = d3.tree().nodeSize([dx, dy]);

	const zoom = d3.zoom()
	.scaleExtent([0.5, 20])
	.on("zoom", zoomed);

	const root = d3.hierarchy(treeData);

	root.x0 = dy / 2;
	root.y0 = 0;
	root.descendants().forEach((d, i) => {
		d.id = i;
		//only open the first layer by default
		if (d.depth == 0) {
			d._children = null;
		} else {
			d._children = d.children;
			d.children = null;
		}
	});

	var svg = d3.select(".vocabulary-tree").append("svg")
		.style("font", "10px sans-serif")
		.style("user-select", "none");

	const gLink = svg.append("g")
		.attr("fill", "none")
		.attr("stroke", "#555")
		.attr("stroke-opacity", 0.4)
		.attr("stroke-width", 1.5);

	const gNode = svg.append("g")
		.attr("cursor", "pointer")
		.attr("pointer-events", "all");
	svg.call(zoom);

	function zoomed() {
	gNode.attr("transform", d3.event.transform);
	gLink.attr("transform", d3.event.transform);
	}

	function update(source) {
	const duration = d3.event && d3.event.altKey ? 2500 : 250;
	const nodes = root.descendants().reverse();
	const links = root.links();

	// Compute the new tree layout.
	tree(root);

	let left = root;
	let right = root;
	root.eachBefore(node => {
		if (node.x < left.x) left = node;
		if (node.x > right.x) right = node;
	});

	const transition = svg.transition()
		.duration(duration)
		.tween("resize", window.ResizeObserver ? null : () => () => svg.dispatch("toggle"));

	// Update the nodes…
	const node = gNode.selectAll("g")
		.data(nodes, d => d.id);

	// Enter any new nodes at the parent's previous position.
	const nodeEnter = node.enter().append("g")
		.attr("transform", d => `translate(${source.y0},${source.x0})`)
		.attr("fill-opacity", 0)
		.attr("stroke-opacity", 0);

	nodeEnter.append("circle")
		.on("click", d => {
			if (d.children) {
				d._children = d.children;
				d.children = null;
			} else {
				d.children = d._children;
				d._children = null;
			}
			update(d);
		})
		.attr("r", 15)
		.attr("fill", d => d._children ? "lightsteelblue" : "#fff")
		.attr("stroke-width", 10)
		.style("pointer-events","visible");

	nodeEnter.append("svg:a").attr("xlink:href", function(d){ return "http://127.0.0.1:5000/view_term/" + d.data.issue_iid + "/-" + d.data.name})
		.append('foreignObject')
		.attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
		.attr("x", function(d) { return d.children || d._children ? 20 : 20; })
		.attr("y", function(d) { return d.children || d._children ? 5 : -10; })
		.attr("dy", ".35em")
		.style("font-size", "large")
		.attr("height", "1")
		.attr("width", "260")
		.html(function(d){ return "<i class= \"vocabulary-tree-tag " + type_map[d.data.datatype] + " tree-tag-icon \" ></i> <t class= \"vocabulary-tree-tag\">" + d.data.name + "</t>"; })
		.on("mouseover", function(d) {
			d3.select(this)
			.style("text-decoration","underline")
			.style("color", "#0093A1");
		})
		.on("mouseout",function(d) {
			d3.select(this)
			.style("text-decoration","none")
			.style("color", "black");
		});

	// Transition nodes to their new position.
	const nodeUpdate = node.merge(nodeEnter).transition(transition)
		.attr("transform", d => `translate(${d.y},${d.x})`)
		.attr("fill-opacity", 1)
		.attr("stroke-opacity", 1);

		nodeUpdate.select("circle")
			.attr("r", 15)
			.style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; })
			.style("stroke", d => d.data.color? d.data.color : "SteelBlue")
			.style("stroke-width", "5")
			.style("stroke-dasharray", function(d) { return d.data.color=='red' ? ("4, 4") : null; });
		
		nodeUpdate.select("text")
			.style("fill-opacity", 1);
	
	// Transition exiting nodes to the parent's new position.
	const nodeExit = node.exit().transition(transition).remove()
		.attr("transform", d => `translate(${d.y},${d.x})`)
		.attr("fill-opacity", 0)
		.attr("stroke-opacity", 0);

	// Update the links…
	const link = gLink.selectAll("path")
		.data(links, d => d.target.id);

	// Enter any new links at the parent's previous position.
	const linkEnter = link.enter().append("path")
		.attr("d", d => {
			const o = {x: source.x0, y: source.y0};
			return diagonal({source: o, target: o});
		});

	// Transition links to their new position.
	link.merge(linkEnter).transition(transition)
		.attr("d", diagonal);

	// Transition exiting nodes to the parent's new position.
	link.exit().transition(transition).remove()
		.attr("d", d => {
			const o = {x: source.x, y: source.y};
			return diagonal({source: o, target: o});
		});

	// Stash the old positions for transition.
	root.eachBefore(d => {
		d.x0 = d.x;
		d.y0 = d.y;
	});


	var maxHeight = 0;
	var minHeight = 0;
	nodes.forEach(function(d) {
		//calculate new width and height needed from the node positions
		width = d.y + 300 > width ? d.y + 300 : width;
		minHeight = d.x - 30 < minHeight ? d.x - 30 : minHeight;
		maxHeight = d.x + 30 > maxHeight ? d.x + 30 : maxHeight;
	});
	height = maxHeight - minHeight;
	root_x = minHeight;
	// don't resize if only root node left
	if (root_x != 0) resizeViewBox();
}

function resizeViewBox() {
	// resize svg viewBox according to window size and ratio
	var w_h_ratio = (window.innerWidth - 50) / (window.innerHeight - 64 - 60);
	if (w_h_ratio <= width / height) {
		scaled_w = width;
		scaled_h = width / w_h_ratio;
	} else {
		scaled_h = height;
		scaled_w = height * w_h_ratio;
	}
	//rescale root_x
	root_x = (root_x * scaled_h) / height;
	//resize svg accordingly
	svg = svg.attr("viewBox", "-50 " + (root_x) + " " + (scaled_w + 30) + " " + (scaled_h));
}

function zoomIn() {
	d3.select('svg')
		.transition()
		.call(zoom.scaleBy, 2);
	height *= 2;
	width *= 2;
}

function zoomOut() {
	d3.select('svg')
		.transition()
		.call(zoom.scaleBy, 0.5);
	height *= 0.5;
	width *= 0.5;
}

function resetZoom() {
	d3.select('svg')
		.transition()
		.call(zoom.scaleTo, 1);
}

//window.addEventListener('resize', function() {
//	resizeViewBox();
//  });

update(root);
</script>
{{ super() }}
{% endblock %}
