{% extends "base.html" %}
{% block page_content %}

<div class="logo">
    <div class="container text-center">
        <img src={{ url_for("static", filename="VocPopuli_Square.png") }} class="img-fluid" width="400" height="400">
    </div>
    <div class="gitlab-login-button-container">
        <form class="d-flex" action={{ url_for("gitlab.login") }} method="get">
            <button class="btn btn-outline-light btn-lg center" style="margin-left:5px; background-color: #0093A1;" type="submit">Login with GitLab&trade;</button>
        </form>
    </div>
</div>

<div id="agree-modal1" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div class="agree-text">
                <p>VocPopuli is in a “testing” phase, and the website might change. However, your vocabularies will be retained by you.</p>
                <p>VocPopuli will be officially released in Q2 2023.</p>
            </div>
            <a class="btn btn-colour agree-btn1">Next</a>
        </div>
    </div>
</div>

<div id="agree-modal2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div class="agree-text">
                <p>To understand the functionality of VocPopuli, please contact watch the example videos on vocpopuli.com, or contact the developers: <a href = "mailto: nikolay.garabedian@kit.edu">nikolay.garabedian@kit.edu</a> or <a href = "mailto: ilia.bagov@kit.edu">ilia.bagov@kit.edu</a></p>
                <p>You can only view sample vocabularies. To make your own, please use the “Request Vocabulary” button.</p>
                <p>* These will be simplified in the coming months.</p>
            </div>
            <a class="btn btn-colour agree-btn2">Next</a>
        </div>
    </div>
</div>

<div id="agree-modal3" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-body">
            <div class="agree-text">
                <p>If you “Publish Vocabulary”, this will create public records (which you can hide at any time). These records might contain your name and email address.</p>
            </div>
            <a class="btn btn-colour agree-btn3">I undertand</a>
        </div>
    </div>
</div>
<div class="gitlab_trademark">
    <p>GITLAB is a trademark of GitLab Inc. in the United States and other countries and regions
</div>

{% endblock %}